logger:
    file: /var/log/open5gs/{{ ausf.log_filename | default ('ausf.log') }}
sbi:
    server:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/ausf.key
      cert: /etc/open5gs/tls/ausf.crt
    client:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/ausf.key
      cert: /etc/open5gs/tls/ausf.crt
ausf:
    sbi:
      - addr: 127.0.0.11
        port: 7777
scp:
    sbi:
      - addr: 127.0.1.10
        port: 7777
parameter:
max:
time:
