#!/bin/bash

# Adds neccessary networking configurations to ensure proper simulation setup

{% for tun in subnet_confs[subnet_slice_start:subnet_slice_end] | default([{'dev': 'ogstun', 'addr': '10.45.0.1/16'}]) %}
ip tuntap add name {{ tun.dev }} mode tun
ip addr add {{ tun.addr }} dev {{ tun.dev }}
ip link set {{ tun.dev }} up
iptables -t nat -A POSTROUTING -s {{ tun.addr }} ! -o {{ tun.dev }} -j MASQUERADE

{% endfor %}