logger:
    file: /var/log/open5gs/{{ smf.log_filename | default ('smf.log')}}
sbi:
    server:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/smf.key
      cert: /etc/open5gs/tls/smf.crt
    client:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/smf.key
      cert: /etc/open5gs/tls/smf.crt
smf:
    sbi:
      - addr: {{smf.sbi_ip | default '127.0.0.4'}}

        port: 7777
    pfcp:
      - addr: {{smf.pfcp_ip | default '127.0.0.4'}}
    gtpc:
      - addr: {{smf.gtpc_ip | default '127.0.0.4'}}
    gtpu:
      - addr: {{smf.gtpu_ip | default '127.0.0.4'}}
    metrics:
      - addr: {{smf.metrics_ip | default '127.0.0.4'}}
        port: 9090
    subnet:
      {% for conf in smf.subnet_confs | default([{'addr': '10.45.0.1/16', 'dnn':'internet'}]) -%}
      - addr: {{ conf.addr }}
        dnn: {{ conf.dnn }}
      {% endfor %}
    dns:
      - 8.8.8.8
      - 8.8.4.4
    mtu: 1400
    ctf:
      enabled: auto
    freeDiameter: {{ smf.freeDiameter | default('/etc/freeDiameter/smf.conf')}}
    {# TODO Make below template more scalable by making it a for loop (sst, sd and dnn)#}
    {% if smf_info %}
    info:
      - s_nssai:
          - sst: {{ smf_info.sst }}
            {% if smf_info.sd %}sd: {{ smf_info.sd }} {% endif %}
            dnn:
              {% for dnn in smf_info.dnns | default('internet') -%}
              - {{ dnn }}
              {% endfor %} {# Whitespace strip at the end of endfor causes incorrect 'tai:' indent #}
        tai:
          - plmn_id:
              mcc: {{ mcc }}
              mnc: {{ mnc }}
            tac: {{ smf_info.tac }}
    {% endif %}
scp:
    sbi:
      - addr: 127.0.1.10
        port: 7777
upf:
    pfcp:
      {% for conf in smf.upf_confs | default([{'addr': '10.45.0.1/16', 'dnn': 'internet'}]) -%}
      - addr: {{ conf.addr }}
        dnn: {{ conf.dnn }}
      {% endfor %}
parameter:
max:
time:
