logger:
    file: /var/log/open5gs/smf.log
sbi:
    server:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/smf.key
      cert: /etc/open5gs/tls/smf.crt
    client:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/smf.key
      cert: /etc/open5gs/tls/smf.crt
smf:
    sbi:
      - addr: {{smf.sbi_ip | default '127.0.0.4'}}
        port: 7777
    pfcp:
      - addr: {{smf.pfcp_ip | default '127.0.0.4'}}
    gtpc:
      - addr: {{smf.gtpc_ip | default '127.0.0.4'}}
    gtpu:
      - addr: {{smf.gtpu_ip | default '127.0.0.4'}}
    metrics:
      - addr: {{smf.metrics_ip | default '127.0.0.4'}}
        port: 9090
    subnet:
      {% for conf in smf.subnet_confs | default([['10.45.0.1/16', 'internet']]) -%}
      - addr: {{ conf[0] }}
        dnn: {{ conf[1] }}
      {% endfor %}
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 2001:4860:4860::8888
      - 2001:4860:4860::8844
    mtu: 1400
    ctf:
      enabled: auto
    freeDiameter: /etc/freeDiameter/smf.conf
    {# TODO - Insert the poorly formatted info: part from https://github.com/s5uishida/open5gs_5gc_ueransim_nearby_upf_sample_config#changes-in-configuration-files-of-open5gs-5gc-c-plane #}
scp:
    sbi:
      - addr: 127.0.1.10
        port: 7777
upf:
    pfcp:
      {% for conf in smf.upf_confs | default([['10.45.0.1/16', 'internet']]) -%}
      - addr: {{ conf[0] }}
        dnn: {{ conf[1] }}
      {% endfor %}
parameter:
max:
time:
