logger:
    file: /var/log/open5gs/{{ udm.log_filename | default ('udm.log') }}
sbi:
    server:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/udm.key
      cert: /etc/open5gs/tls/udm.crt
    client:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/udm.key
      cert: /etc/open5gs/tls/udm.crt
udm:
    hnet:
      - id: 1
        scheme: 1
        key: /etc/open5gs/hnet/curve25519-1.key
      - id: 2
        scheme: 2
        key: /etc/open5gs/hnet/secp256r1-2.key
      - id: 3
        scheme: 1
        key: /etc/open5gs/hnet/curve25519-3.key
      - id: 4
        scheme: 2
        key: /etc/open5gs/hnet/secp256r1-4.key
      - id: 5
        scheme: 1
        key: /etc/open5gs/hnet/curve25519-5.key
      - id: 6
        scheme: 2
        key: /etc/open5gs/hnet/secp256r1-6.key
    sbi:
      - addr: 127.0.0.12
        port: 7777
scp:
    sbi:
      - addr: 127.0.1.10
        port: 7777
parameter:
max:
time:
