logger:
    file: /var/log/open5gs/nssf.log
sbi:
    server:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/nssf.key
      cert: /etc/open5gs/tls/nssf.crt
    client:
      no_tls: true
      cacert: /etc/open5gs/tls/ca.crt
      key: /etc/open5gs/tls/nssf.key
      cert: /etc/open5gs/tls/nssf.crt
nssf:
    sbi:
      - addr: 127.0.0.14
        port: 7777
    nsi:
      - addr: 127.0.0.10
        port: 7777
        s_nssai:
          sst: 1
scp:
    sbi:
      - addr: 127.0.1.10
        port: 7777
parameter:
max:
time:
